apiVersion: kops.k8s.io/v1alpha2
kind: Cluster
metadata:
  creationTimestamp: null
  name: {{ KOPS_CLUSTER_NAME }}
spec:
  api:
    loadBalancer:
      class: {{ KOPS_CLUSTER_LB_CLASS }}
      type: {{ KOPS_CLUSTER_LB_TYPE }}
  authorization:
    rbac: {}
  channel: stable
  cloudProvider: {{ KOPS_CLUSTER_CLOUD }}
  configBase: {{ KOPS_STATE_S3 }}/{{ KOPS_CLUSTER_NAME }}
  containerRuntime: {{ KOPS_CLUSTER_CONTAINER_RUNTIME }}
  etcdClusters:
  {%- for ETCD in KOPS_CLUSTER_ETCD %}
  - cpuRequest: 200m
    etcdMembers:
    - encryptedVolume: true
      instanceGroup: {{ ETCD.instanceGroup}}
      name: {{ ETCD.name}}
    manager:
      backupRetentionDays: 90
    memoryRequest: 100Mi
    name: main
  {%- endfor %}
  {%- for ETCD in KOPS_CLUSTER_ETCD %}
  - cpuRequest: 100m
    etcdMembers:
    - encryptedVolume: true
      instanceGroup: {{ ETCD.instanceGroup}}
      name: {{ ETCD.name}}
    manager:
      backupRetentionDays: 90
    memoryRequest: 100Mi
    name: events
  {%- endfor %}
  iam:
    allowContainerRegistry: true
    legacy: false
  kubelet:
    anonymousAuth: false
  kubernetesApiAccess:
  - {{ KOPS_CLUSTER_BASTION_CIDR }}
  kubernetesVersion: v1.27.3
  masterPublicName: {{ KOPS_CLUSTER_API_PUBLIC_NAME }}
  networkCIDR: {{ KOPS_CLUSTER_NETWORK_CIDR }}
  networkID: {{ KOPS_CLUSTER_NETWORK_ID }}
  networking:
    calico: {}
  nonMasqueradeCIDR: 100.64.0.0/10
  sshAccess:
  - {{ KOPS_CLUSTER_BASTION_CIDR }}
  subnets:
  {%- for SUBNET in KOPS_CLUSTER_SUBNETS %}
  - cidr: {{ SUBNET.cidr }}
    id: {{ SUBNET.id }}
    name: {{ SUBNET.name }}
    type: {{ SUBNET.type }}
    zone: {{ SUBNET.zone }}
  {%- endfor %}
  topology:
    dns:
      type: Public
    masters: {{ KOPS_CLUSTER_MASTER_TOPOLOGY }}
    nodes: {{ KOPS_CLUSTER_NODE_TOPOLOGY }}

{%- for IG in KOPS_CLUSTER_IGS %}

---

apiVersion: kops.k8s.io/v1alpha2
kind: InstanceGroup
metadata:
  creationTimestamp: null
  labels:
    kops.k8s.io/cluster: devkops.calife.co.kr
  name: {{ IG.name }}
spec:
  image: {{ IG.image }}
  machineType: {{ IG.machineType }}
  maxSize: {{ IG.maxSize }}
  minSize: {{ IG.minSize }}
  role: {{ IG.role }}
  subnets:
  {%- for subnet in IG.subnets %}
  - {{ subnet }}
  {%- endfor %}

{%- endfor %}

---

apiVersion: kops.k8s.io/v1alpha2
kind: SSHCredential
metadata:
  creationTimestamp: null
  labels:
    kops.k8s.io/cluster: {{ KOPS_CLUSTER_NAME }}
    name: admin
spec:
  publicKey: {{ KOPS_CLUSTER_SSH_PUBLIC_KEY }}